@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&family=Sofia+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    font-size: normal;
    font-family: 'Roboto Condensed';
    font-weight: 500;
}